<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>德州计算器</title>
    <link rel="stylesheet" href="src/css/index.css">
    <script src="src/js/vue.js"></script>
</head>
<body>
<div id="header">
    <header>
        <h1><a href="index.html">Poker Assistant</a></h1>
        <a class="menu-button" href="javascript:" @click="toggleMenu"></a>
    </header>
    <nav class="menu" v-show="showMenu">
        <div class="menu-title">
            <span class="">Poker Assistant</span>
        </div>
        <div class="menu-item-container" @click="showApp('after-flop')">翻牌后手牌强弱</div>
        <div class="menu-item-container" @click="showApp('utils')">常用资料</div>
    </nav>
    <div class="menu-mask" v-if="showMenu" @click="toggleMenu"></div>
</div>
<div id="container" class="main-content">
    <!-- 翻牌后手牌强弱分析 -->
    <section id="after-flop" class="after-flop" v-if="currentApp == 'after-flop'">
        <div class="hand-cards-container">
            <div class="hand-cards">
                <div v-for="(item, index) in hands" @click="showSelect('hand', index)" class="card card-inline"
                     :data-index="index">{{item}}</div>
            </div>
        </div>
        <div class="board-cards-container">
            <div>
                <div v-for="(item, index) in boards" @click="showSelect('board', index)" class="card card-inline"
                     :data-index="index">{{item}}</div>
            </div>
            <div>
                <button id="calculate">计算</button>
            </div>
        </div>
    </section>
    <!-- 常用资料 -->
    <section class="utils" v-if="currentApp == 'utils'">常用资料</section>

    <!-- 选择器 -->
    <div id="card-select" style="display: none" v-show="selectActive">
        <div id="card-select-kind">
            <div v-for="text in selectCardText" @click="selectCard(text)">{{text}}</div>
        </div>
        <div id="card-select-suit">
            <div v-for="text in selectKindText"
                 @click="selectKind(text)"
                 :class="{'color-black': text == '♠' || text == '♣', 'color-red': text == '♥' || text == '♦'}">{{text}}</div>
        </div>
        <div id="card-select-ok">
            <a href="javascript:" class="ok">确定</a>
            <a href="javascript:" class="cancel">取消</a>
            <a href="javascript:" class="delete">删除</a>
        </div>
    </div>
</div>
<script src="dist/index.js"></script>
</body>
</html>